$font-stack: Verdana, serif;
$font-size: 1em; /* 16px */

@import "style.css";

@mixin template-rows {
  display: grid;
  grid-template-rows: auto auto;
}

@mixin flex-row {
  display: flex;
  flex-direction: row;
}

$colors:
  "first" #70d4e4,
  "second" #f88434,
  "third" #f0acac;

@each $name, $color in $colors {
  ##{$name} {
    background-color: $color;
  }
}

html, body, p {
  font-size: $font-size;
  font-family: $font-stack;
  height: 100%;
  margin: 0;
}
*, *::before, *::after {
  box-sizing: inherit;
}
@media all and (max-width: 600px) {
  .main-title {
    display: none;
  }
  main {
    @include template-rows;
    height: 100%;
    margin-top: 2.75em;
    row-gap: 1em;
    padding: 1em;
  }
  a {
    display: none;
  }
  body {
    @include template-rows;
    position: relative;
    min-height: 100%;
  }
  footer {
    position: relative;
    bottom: -100%;
    width: 100%;
  }
}
@media all and (min-width: 600px) and (max-width: 1024px) {
  .first-article {
    width: 100%;
    margin-bottom: 1.5em;
  }
  .second-article, .third-article {
    position: relative;
    display: inline-block;
  }
  .second-article {
    width: 50%;
    min-height: 40%;
  }
  .third-article {
    position: absolute;
    right: 0;
    margin-right: 1.65em;
    width: 45%;
    min-height: 56%;
  }
  article {
    min-height: 20%;
  }
  main {
    height: 100%;
    margin-top: 2.75em;
    padding: 2em;
  }
  body {
    @include template-rows;
    position: relative;
    min-height: 100%;
  }
  footer {
    position: relative;
    bottom: -100%;
    width: 100%;
  }
  a {
    display: none;
  }
}
@media all and (min-width: 1024px) {
  main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  header, main {
    @include flex-row;
    justify-content: flex-start;
    align-items: center;
  }
  nav {
    display: flex;
    flex-grow: 2;
    justify-content: flex-end;
  }
  a {
    color: black;
    text-align: center;
    text-decoration: none;
    margin-right: 3em;
  }
  #nav-btn {
    display: none;
  }
  body {
    @include template-rows;
  }
  article {
    margin-left: 1em;
    min-height: 65%;
  }
}
#designed {
  margin-top: 2em;
}
#logo {
  width: 5.825em;
  height: 6.3125em;
  display: block;
  margin-top: 1.5em;
}
.main-title {
  @include flex-row;
  flex-grow: 1;
  align-items: center;
  font-size: 200%;
  margin-left: 0.5em;
  margin-top: 1.6875em;
}
article {
  width: 100%;
  border: 0.15em solid black;
  background-color: #e8e4cc;
  margin-right: 1em;
  margin-bottom: 0.625em;
}
#left-side {
  @include flex-row;
  flex-grow: 2;
  align-items: center;
  margin-left: 0.5em;
}
#logo {
  margin-left: 1em;
}
.article-title {
  @include flex-row;
  margin-left: auto;
  height: 2.5em;
  width: 60%;
  justify-content: center;
  align-items: center;
  border-left: 0.1em solid black;
  border-bottom: 0.1em solid black;
  margin-top: 0;
  font-size: 150%;
}
.article-content {
  text-align: justify;
  padding: 2em;
}
#nav-btn {
  width: 3.4em;
  height: 3.4em;
  padding: 1em;
  background-color: #e8e4cc;
  position: absolute;
  margin-top: 2.5em;
  top: 0;
  margin-right: 1.75em;
  right: 0;
  border: 0.125em solid black;
  border-radius: 30%;
  cursor: pointer;
}
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 7em;
  border-top: 0.125em solid black;
  background-color: #e8e4cc;
  justify-content: center;
}
.name-surname {
  font-weight: bold;
  margin-bottom: 2em;
}
